* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
	background: #F4F2F3;
}

.container1 {
  max-width: 1100px;
  width: 90%;
  margin: auto;
}

.navbar {
  background: white; 
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.20)
}
.address{
	position: absolute;
  top: 8px;
  right: 430px;
  font-size: 1.8rem;
  color: #0e2431;
 font-family: Luminari;
}
.phone{
	position: absolute;
  top: 8px;
  right: 70px;
  font-size: 1.8rem;
  color: #0e2431;
 font-family: Luminari;
}
.time{
	position: absolute;
  top: 8px;
  right: 250px;
  font-size: 1.8rem;
  color: #0e2431;
 font-family: Luminari;
}

.nav-container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container1 li {
  list-style: none;
  color: #EFB7B7; 
}

.a1 {
  text-decoration: none;
  color: #EFB7B7;
  font-weight: 800;
  font-size: 1.4rem;
  padding: 0.9rem;
}

.navbar .nav-container1 a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container1 a:hover{
    font-weight: bolder;
}

.nav-container1 {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container1 .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container1 .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container1 .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container1 .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container1 .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container1 .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  font-family: Luminari;
	
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.logo2 {
  position: absolute;
  top: 5px;
  right: 750px;
  font-size: 1.7rem;
  color:#0e2431;
 font-family: Luminari, fantasy;
}

.logo {
  position: absolute;
  top: 5px;
  right: 650px;
  font-size: 1.7rem;
  color:#0e2431;
 font-family: Luminari, fantasy;
}
.photo1{
  position: absolute;
  left: 50px;
  top: 80px;
}
.nav-container1 input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container1 input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container1 input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container1 input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container1 input[type="checkbox"]:checked ~ .logo{
  display: none;
}
.nav-container1 input[type="checkbox"]:checked ~ .photo1 {
  display: none;
}
.contact-container {
  width: 818px;
  height: 280px;
  top: 1350px;
  left: 300px;
  position: absolute;
}

.contact-title {
  left: 0px;
  top: 0px;
  position: absolute;
  color: #EFB7B7;
  font-size: 48px;
  font-family: Kudryashev Display;
  font-weight: 400;
  line-height: 45.07px;
  word-wrap: break-word;
}

.contact-image {
  width: 428px;
  height: 280px;
  left: 390px;
  top: 0px;
  position: absolute;
  border: 6px #EFB7B7 solid;
}

.contact-address {
  width: 154px;
  height: 50px;
  left: 0px;
  top: 175px;
  position: absolute;
}

.contact-info {
  color: black;
  font-size: 16px;
  font-family: Montserrat;
}

.contact-schedule {
  width: 130px;
  height: 47px;
  left: 0px;
  top: 72px;
  position: absolute;
}

.contact-phone {
  width: 135px;
  height: 47px;
  left: 186px;
  top: 72px;
  position: absolute;
}
.footer-container {
  width: 100%;
  height: 50px;
  left: 0px;
  top: 1300px;
  position: absolute;
}

.rectangle {
  width: 100%;
  height: 50px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: white;
}
.record{
  width: 1030px; 
  height: 335px; 
  top: 660px;
  left: 260px; 
  position: absolute;
}
.button {
  width: 160px;
  height: 40px;
  left: 380px;
  top: 550px;
  position: absolute;
  background: #EFB7B7; 
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.30); 
  border-radius: 30px
}
.inner {
  width: 139.65px; 
  height: 18.38px; 
  left: 10.20px; 
  top: 10.81px;
  position: absolute; 
  text-align: center; 
  color: black; 
  font-size: 15px; 
  font-family: Montserrat; 
  font-weight: 400; 
  line-height: 17.39px; 
  word-wrap: break-word
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 1px solid #F4F2F3;
  padding: 8px;
  text-align: left;
  font-size: 1.09rem;
  color: #0e2431;
 font-family: Luminari;
}
th {
  background-color: #F4F2F3;
}
tr:nth-child(even) {
  background-color: #F4F2F3;
}
.category{
  left: 30px;
  font-size: 1.2rem;
  color: #0e2431;
 font-family: Luminari;
}
#categorySelect {
  font-size: 16px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 195px;
  font-family: Luminari;
}

#categorySelect option {
  font-size: 14px;
  font-family: Luminari;
}

#categorySelect::before {
  display: block;
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: Luminari;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  max-width: 400px;
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.Z{
  font-size: 16px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  font-family: Luminari;
}
.Zbutton{
padding: 10px 10px;
border: none;
border-radius: 5px;
background-color: #EFB7B7;
color: white;
font-size: 16px;
cursor: pointer;
margin-right: 125px;
margin-left: 125px;
}
.select{
  font-size: 16px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  font-family: Luminari;
}
#serviceSelect{
  font-size: 16px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 217px;
  font-family: Luminari;
}
#serviceSelect option {
  font-size: 14px;
  font-family: Luminari;
}

#serviceSelect::before {
  display: block;
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: Luminari;
}
#daySelect{
  font-size: 16px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 160px;
  font-family: Luminari;
}
#daySelect option {
  font-size: 14px;
  font-family: Luminari;
}

#daySelect::before {
  display: block;
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: Luminari;
}
.id2{
  position: relative;
  color: #fff;
  left: 450px;
  top: -390px;
  font-size: 25px;
  font-family: Luminari;
  width: 200px;
}
#recordsTable{
  margin-left: -10px;
}
#timeSelect{
  font-size: 16px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 165px;
  font-family: Luminari;
}
.AV{
  color: #EFB7B7; 
  font-size: 32px; 
  font-family: Kudryashev Display; 
  font-weight: 500; 
  word-wrap: break-word
}
.services{
  color: #333;
  margin-bottom: 5px;
  font-family: Luminari;
  font-size: 18px;
  margin-top: 10px;
}
.master{
  color: #333;
  margin-bottom: 5px;
  font-family: Luminari;
  font-size: 18px;
}
.day{
  color: #333;
  margin-bottom: 5px;
  font-family: Luminari;
  font-size: 18px;
}
.time2{
  color: #333;
  margin-bottom: 5px;
  font-family: Luminari;
  font-size: 18px;
  margin-bottom: 10px;
}
#button2 {
  width: 160px;
  height: 40px;
  left: 1100px;
  top: 540px;
  position: relative;
  background: #EFB7B7; 
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.30); 
  border-radius: 30px
}
.inner2 {
  width: 139.65px; 
  height: 18.38px; 
  left: 10.20px; 
  top: 10.81px;
  position: relative; 
  text-align: center; 
  color: black; 
  font-size: 15px; 
  font-family: Montserrat; 
  font-weight: 400; 
  line-height: 17.39px; 
  word-wrap: break-word
}
#id3{
  display: none;
}
#button3 {
  width: 160px;
  height: 40px;
  left: 1100px;
  top: 540px;
  position: relative;
  background: #EFB7B7; 
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.30); 
  border-radius: 30px;
  display: none;
}
.inner3 {
  width: 139.65px; 
  height: 18.38px; 
  left: 10.20px; 
  top: 10.81px;
  position: relative; 
  text-align: center; 
  color: black; 
  font-size: 15px; 
  font-family: Montserrat; 
  font-weight: 400; 
  line-height: 17.39px; 
  word-wrap: break-word;
}
#button4 {
  width: 160px;
  height: 40px;
  left: 380px;
  top: 550px;
  position: absolute;
  background: #EFB7B7; 
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.30); 
  border-radius: 30px;
  display: none;
}
.inner4 {
  width: 139.65px; 
  height: 18.38px; 
  left: 10.20px; 
  top: 10.81px;
  position: absolute; 
  text-align: center; 
  color: black; 
  font-size: 15px; 
  font-family: Montserrat; 
  font-weight: 400; 
  line-height: 17.39px; 
  word-wrap: break-word
}
#delForm {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content2 {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  max-width: 400px;
  position: relative;
}
.button5 {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  background: #ffcccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.inner5 {
  text-align: center; 
  color: black; 
  font-size: 15px; 
  font-family: Montserrat; 
  font-weight: 400; 
  line-height: 17.39px; 
  word-wrap: break-word
}
.close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.title2 {
  color: #EFB7B7;
  font-size: 30px;
  font-family: Kudryashev Display;
  word-wrap: break-word;
  text-align: center;
}

.text {
  color: black;
  font-size: 18px; 
  font-family: Montserrat; 
}
#id4{
  font-family: 'Roboto', sans-serif;
  width: 70%;
  height: 25px;
}